#demo, #url,#data {
  display:none;
} 

body {
  background-color:coral;
}

#searchbox {
    margin: auto;
    width: 50%;
    border: 0px solid green;
    padding: 10px;
}

#searchcol {
  visibility:visible; 
}

label {
  align:center;
}

input {
  margin-left: 10%;
  margin-right: 10%;
  width: 80%;
  padding-left:5px;
  float: right;
  display: block;
  font-size: 17px;
  padding: 10px;

}

#search {
  margin:auto;
  width: 150px;
  background-color: 	#00BFFF;
  border: none;
  color: white;
  padding: 10px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  border-radius: 4px;
  margin-top:5px;
  
}

table {
    background-color: coral;
    border: 0px solid red;
    margin:auto;
    border-radius: 4px;
}

#pagestitle {
  visibility:visible; 
  
}

th {
  border-bottom: 0px solid coral;
  padding: 15px;
  visibility:hidden;
  background-color:white;
  text-align:left;
}

#searchcol {
  text-align:center;
}

.extract {
  font-size:13px;
  font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
  font-weight: lighter;
}


a {
  text-decoration: none;
  font-size:18px;
  color:black;
  font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

a:hover{  
  color:#00BFFF;
    
}