html {
  height: auto;
  min-height: 100%;
  position: relative;
}
#getQuote {
  background-color: #16a085;
  border: none;
  border-radius: 5px;
  color: white;
  padding: 1px 3px;
  text-align: center;
  text-decoration: none;
  font-size: 14px;
  height:25px;
  width: 100px;
  float:right;
}

#author {
  color: #16a085;
  transition: color .25s ease-in-out;
}

body {
  padding-bottom: 70px;
  background-color:#16a085;
  background-size: cover;
  background-repeat: no-repeat;
  transition: background .25s ease-in-out;
}
h1,
h3 {
  color: #eee;
  font-family: "Verdana";
}

h1 {
  font-size: 2em;
  font-family: "Verdana";
}

h3 {
  font-size: 1.3em;
  font-family: "Verdana";
}

blockquote {
  border: 0;
  border-radius: 5px;
  background: white;
  font-family: "Verdana";
  color: #16a085;
  transition: color .35s ease-in-out;
}
blockquote:before {
    display: block;
    padding-left: 10px;
    content: "\201C";
    font-size: 60px;
    font-family: Georgia, serif;
    position: absolute;
    left: 10px;
    color: grey;
    top: 15px;
    opacity: .5;
}
blockquote footer {
  text-align: right;
}


@media (min-width:480px) {
  h1 {
    font-size: 2.25em;
    font-family: "Verdana";
    text-align:center;
  }
  h3 {
    font-size: 1.5em;
    font-family: "Verdana";
    text-align:center;
  }
  blockquote p {
    padding:5px;
    font-family: "Verdana";
  }
  blockquote footer {
    margin-right: 2em;
    font-family: "Verdana";
  }
  footer {
    font-size: 1em;
  }
}
.twitter-share-button {
  float:left;
  background-color: #16a085;
  border: none;
  border-radius: 5px;
  color: white;
  padding: 1px 3px;
  text-align: center;
  text-decoration: none;
  font-size: 14px;
  height:25px;
  width: 100px;
}

button:hover {
  color: white;
  border: 1px solid;
  box-shadow: inset 0 0 20px rgba(255, 255, 255, .5), 0 0 20px rgba(255, 255, 255, .2);
  outline-color: rgba(255, 255, 255, 0);
  outline-offset: 15px;
}
.quote-box {
  border-radius:5px;
  position:relative;
  margin:5% auto auto auto;
  width:450px;
  padding:30px 50px;
  display:table;
  background-color:#fff;
}

a:link    {color:white; background-color:transparent; text-decoration:none}
a:visited {color:white; background-color:transparent; text-decoration:none}
a:hover   {color:white; background-color:transparent; text-decoration:none}
a:active  {color:white; background-color:transparent; text-decoration:none}
  
  
